[submodule "home/dotfiles/zsh"]
	path = home/dotfiles/zsh
	url = git@bitbucket.org:vyorkin/zshrc.git
[submodule "home/dotsecrets"]
	path = home/dotsecrets
	url = git@bitbucket.org:vyorkin/dotsecrets.git
[submodule "home/dotfiles/tmux"]
	path = home/dotfiles/tmux
	url = git@bitbucket.org:vyorkin/tmux.conf.git
[submodule "home/dotfiles/ruby/dotpryprc"]
	path = home/dotfiles/ruby/dotpryprc
	url = git@github.com:vyorkin-personal/dotpryrc.git
[submodule "home/dotfiles/ruby/dotpryrc"]
	path = home/dotfiles/ruby/dotpryrc
	url = git@github.com:vyorkin-personal/dotpryrc.git
[submodule "home/dotfiles/emacs"]
	path = home/dotfiles/emacs
	url = https://github.com/vyorkin/emacs.d.git
[submodule "pkgs/mozilla"]
	path = pkgs/mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "pkgs/nixpkgs-channels"]
	path = pkgs/nixpkgs-channels
	url = https://github.com/NixOS/nixpkgs-channels.git
[submodule "pkgs/nixos-hardware"]
	path = pkgs/nixos-hardware
	url = https://github.com/NixOS/nixos-hardware.git
[submodule "pkgs/home-manager"]
	path = pkgs/home-manager
	url = https://github.com/rycee/home-manager.git
