[submodule "darwin"]
	path = darwin
	url = https://github.com/LnL7/nix-darwin.git
[submodule "home/dotfiles/zsh"]
	path = home/dotfiles/zsh
	url = git@bitbucket.org:vyorkin/zshrc.git
[submodule "home/dotsecrets"]
	path = home/dotsecrets
	url = git@bitbucket.org:vyorkin/dotsecrets.git
[submodule "home/dotfiles/tmux"]
	path = home/dotfiles/tmux
	url = git@bitbucket.org:vyorkin/tmux.conf.git
[submodule "home/dotfiles/ruby/dotpryprc"]
	path = home/dotfiles/ruby/dotpryprc
	url = git@github.com:vyorkin-personal/dotpryrc.git
[submodule "home/dotfiles/ruby/dotpryrc"]
	path = home/dotfiles/ruby/dotpryrc
	url = git@github.com:vyorkin-personal/dotpryrc.git
[submodule "home/dotfiles/emacs"]
	path = home/dotfiles/emacs
	url = git@bitbucket.org:vyorkin/emacs.d.git
