[submodule "home/dotfiles/zsh"]
	path = home/dotfiles/zsh
	url = git@bitbucket.org:vyorkin/zshrc.git
[submodule "home/dotsecrets"]
	path = home/dotsecrets
	url = git@bitbucket.org:vyorkin/dotsecrets.git
[submodule "home/dotfiles/tmux"]
	path = home/dotfiles/tmux
	url = git@bitbucket.org:vyorkin/tmux.conf.git
[submodule "home/dotfiles/ruby/dotpryrc"]
	path = home/dotfiles/ruby/dotpryrc
	url = git@github.com:vyorkin-personal/dotpryrc.git
[submodule "home/dotfiles/emacs"]
	path = home/dotfiles/emacs
	url = https://github.com/vyorkin/emacs.d.git
[submodule "home/dotfiles/kitty/kitty-themes"]
	path = home/dotfiles/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "home/dotfiles/kitty/base16-kitty"]
	path = home/dotfiles/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
[submodule "home/dotfiles/firefox/ghacks-user.js"]
	path = home/dotfiles/firefox/ghacks-user.js
	url = https://github.com/ghacksuserjs/ghacks-user.js.git
